*{
    margin: 0;
    padding: 0;
}
#game{
    width: 480px;
    height: 800px;
    margin: auto;
    overflow: hidden;
}
#gameStart{
    width: 100%;
    height: 100%;
    background-image: url("img/start/startBg.jpg");
    position: relative;
    display: block;
}
